@page "/employeeoverview"

<h3 class="page-item">All Employees</h3>

@if (Employees == null)
{


<p>Loading...</p>
}
else
{
<table class="table">
    <thead>

    <tr>
        <th> </th>
        <th>Employee ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Last name</th>
    </tr>
    </thead>
   <tbody>
       @foreach (var employee in Employees)
       {
		 <tr>
             <td><img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{employee.Id}-small.jpg")" class="rounded-circle"/></td>
             <td>@employee.Id</td>
             <td>@employee.FirstName</td>
             <td>@employee.LastName</td>
             <td><a class="btn btn-primary" href="@($"employeedetails/{employee.Id}")">Details</a></td>
         </tr>
       }
   </tbody>
</table>
}

